force-app/main/default/flows/Txn_Delete_All_Logs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ASSIGN_Count_Records</name>
        <label>Count Records</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VAR_RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_All_Transactions_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Record_Count_Great_Than_Zero</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHOICE_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DECISION_Delete_Records_Confirmation</name>
        <label>Delete Records Confirmation</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RADIO_Are_you_sure_you_want_to_delete_the_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_Delete_Records</targetReference>
            </connector>
            <label>Yes Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Record_Count_Great_Than_Zero</name>
        <label>Record Count Great Than Zero</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SCREEN_No_Records_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Record_Count_More_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_RecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Are_You_Sure</targetReference>
            </connector>
            <label>Record Count More Than 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transactions Delete All Logs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transactions Delete All Logs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DELETE_Delete_Records</name>
        <label>Delete Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SCREEN_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCREEN_Error</targetReference>
        </faultConnector>
        <inputReference>GET_All_Transactions_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_All_Transactions_Records</name>
        <label>All Transactions Records</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Count_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Txn_Log__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCREEN_Are_You_Sure</name>
        <label>Are You Sure?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DECISION_Delete_Records_Confirmation</targetReference>
        </connector>
        <fields>
            <name>RADIO_Are_you_sure_you_want_to_delete_the_records</name>
            <choiceReferences>CHOICE_Yes</choiceReferences>
            <choiceReferences>CHOICE_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CHOICE_Yes</defaultSelectedChoiceReference>
            <fieldText>Are you sure you want to delete the records?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Confirmation</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Confirmation</name>
            <fieldText>&lt;p&gt;Successfully deleted {!VAR_RecordCount} records!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Something went wrong when deleting {!VAR_RecordCount} records!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_No_Records_To_Delete</name>
        <label>No Records To Delete</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_No_Records</name>
            <fieldText>&lt;p&gt;There are no records to delete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_All_Transactions_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
